
    .choosen{
        border: 2px solid blue;
    }
    .brd{
        border: 2px solid gainsboro;
    }
    .myuser{
        cursor: pointer;
       
    }
body class{
    background-color: rgb(98, 141, 118);
  
  
}
h3{
    background-color: rgb(129, 231, 231);
}
p{
    background-color: rgb(200, 183, 240);
}
div{background-color: rgb(200, 240, 240);}